@model LoginFormMVC.Models.user
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-3 col-md-offset-5">
        <div style="border:5px black ridge; padding:10px;">

            @using (Html.BeginForm("Index","Login",FormMethod.Post))
            {
            <table height="200">
                <tr>
                    <th colspan="2" class="text-center" style:"font-size:25px;">LOGIN</th>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.username) </td>
                    <td>
                        @Html.TextBoxFor(model => model.username, new {@class="form-control" }) 
                        @Html.ValidationMessageFor(model => model.username,"", new { @class = "text danger"})
                    </td>

                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.password) </td>
                    <td>
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text danger" })
                        @ViewBag.ErrorMessage
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td> 
                        <input type="submit" name="Login" value="Login" class="btn btn-info"/>
                        <a href="/Login/Reset" class="btn-btn danger">Reset</a>
                    </td>
                </tr>
            </table>
            }
         </div>

    </div>
</div>

